SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", ATTRS{serial}=="FT9LBZ8", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="SENSORS0"

SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", ATTRS{serial}=="FT9LBZ8", ENV{ID_USB_INTERFACE_NUM}=="01", SYMLINK+="SENSORS1"

SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", ATTRS{serial}=="FT9LBZ8", ENV{ID_USB_INTERFACE_NUM}=="02", SYMLINK+="SENSORS2"

SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", ATTRS{serial}=="FT9LBZ8", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="SENSORS3"
